body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333333;
    margin-top: 0;
}

img {
    width: 100px;
    height: 100px;
}

p {
    margin: 10px 0;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #30D5C8;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #30D5C8;
}

#result {
    text-align: center;
    font-weight: bold;
}

#resetBtn {
    display: block;
    margin-top: 20px;
    background-color: #f44336;
}

#resetBtn:hover {
    background-color: #d32f2f;
}

.players-container {
    display: flex;
    justify-content: space-between;
}

.player {
    text-align: center;
}